In [1]:
import pandas as pd

In [2]:
flow = pd.DataFrame({
    "city":['delhi','goa'],
    "windspeed":[2203,4320],
}, index = [0,3])
flow

    city  windspeed
0  delhi       2203
3    goa       4320

In [15]:
temp = pd.DataFrame({
    "city":['delhi','mumbai','pune','goa'],
    "temp":[22,42,36,48],
})
temp

     city  temp
0   delhi    22
1  mumbai    42
2    pune    36
3     goa    48

In [12]:
wind = pd.DataFrame({
    "city":['delhi','mumbai','pune','goa'],
    "windspeed":[220,420,360,480],
})
wind

     city  windspeed
0   delhi        220
1  mumbai        420
2    pune        360
3     goa        480

In [21]:
df = pd.merge(temp,wind)
df

     city  temp  windspeed
0   delhi    22        220
1  mumbai    42        420
2    pune    36        360
3     goa    48        480

In [23]:
df = pd.merge(temp,flow)
df

    city  temp  windspeed
0  delhi    22       2203
1    goa    48       4320

In [24]:
df = pd.merge(temp,flow , how='left')
df

     city  temp  windspeed
0   delhi    22     2203.0
1  mumbai    42        NaN
2    pune    36        NaN
3     goa    48     4320.0

In [25]:
df = pd.merge(temp,flow ,how='right')
df

    city  temp  windspeed
0  delhi    22       2203
1    goa    48       4320

In [28]:
df = pd.merge(temp,flow ,how='outer' , indicator=True)
df

     city  temp  windspeed     _merge
0   delhi    22     2203.0       both
1  mumbai    42        NaN  left_only
2    pune    36        NaN  left_only
3     goa    48     4320.0       both